

/* open sans font set up */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
   

}
nav>ul{
    display: flex;
    align-items: center;
}

header>nav>ul>li{
    display: inline;
    
}

/* mouse hover */
header>nav>ul>li.xx:hover{
    background-color: #eec09f7b;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
   
    width: auto;
    text-align: center;
}

header>nav>ul>li>a{
    font-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 50px;
}

header>nav>p{
    font-size: 45px;
    font-weight: 900;
    width: 121px;
    height: 61px;
}

/* developper background */
.open-sans-normal{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position:left top ;
  
  

    
}



/* button design */
.btn{
    background-color:#FD6E0A ;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    width: 121px;
    height: 61px;
   

}


#p1{
    font-size: 45px;
    font-weight: 600;
    width: 177px;
    height: 61px;
    margin-bottom: 0px;
}

#p2{
    font-size: 85px;
    font-weight: bold;
    width: 498px;
    height: 116px;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

#p3{
    font-size: 18px;
    font-weight: normal;
    width: 585px;
    height: 60px;
    margin-top: 0px;
   
}

#btn-contact{
    background-color:white ;
    font-size: 20px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    width: 160px;
    height: 64px;
    margin-left: 20px;

}


main>div{
    display: flex;
    justify-content: space-between;
}

main>div{
    background-image: url(../images/header_bg.png);
     background-repeat: no-repeat;
   background-position: right bottom;
   margin-left: 200px;
     /*height: 678px;
   
    background-size: contain; */
   
    
   
}

 .about{
    background-color: #FFF8F3;
    text-align: center;
    max-width: 1140px;
    height: 350px;
    /* margin:0 auto; */
    padding: 130px 150px;
    margin:130px 200px;

}


.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.item-description{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
 
.do-things{
   text-align: center;
   max-width: 1140px;
   margin: 0 auto;
}


.skills-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* text-align: center; */
    max-width: 1140px;
    margin: 0 auto;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #00000014;
    border-radius: 5px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
  
}

footer>section{
    background-color: #FFF8F3;
    padding: 130px 200px;
    display: flex;
    justify-content:space-between;
}

.naem{
    width: 461px;
    height: 54px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;

}

#message{

    width: 461px;
    height: 180px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;


}

.footer_title{
    margin-bottom: 50px;
}



